# ** Neural Networks Are a Good Choice using frameworks like TensorFlow/Keras or PyTorch**

Large and Complex Data: Neural networks excel at capturing complex patterns and nonlinear relationships.

High Dimensionality: If the dataset has many features, neural networks can effectively model intricate interactions.

Enough Data: Neural networks require a substantial amount of data for training. If the dataset is small, traditional models might perform better.

Nonlinearity: Loan interest rates or amounts are often influenced by nonlinear factors (e.g., borrower income, loan intent, previous defaults). Neural networks can model these relationships better than linear models.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [4]:
# Step 1: Load and preprocess the data
loan_data = pd.read_csv("/content/loan_data.csv")  # Replace with your dataset path
loan_data.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

In [5]:
loan_data.columns.value_counts()

person_age                        1
person_gender                     1
person_education                  1
person_income                     1
person_emp_exp                    1
person_home_ownership             1
loan_amnt                         1
loan_intent                       1
loan_int_rate                     1
loan_percent_income               1
cb_person_cred_hist_length        1
credit_score                      1
previous_loan_defaults_on_file    1
loan_status                       1
Name: count, dtype: int64

In [37]:
# convert categorical data into Numerical data before scaling
loan_data.replace({
                    'person_gender':{'female':0, 'male':1},
                    'person_education':{'High School':0, 'Bachelor':1,'Associate':2,'Master':3, 'Doctorate':4},
                    'person_home_ownership':{'RENT':0, 'MORTGAGE': 1, 'OWN':2, 'OTHER':3},
                    'loan_intent':{'No':0, 'Yes':1},
                    'previous_loan_defaults_on_file': {'No':0, 'Yes':1},
                    'loan_intent': {'EDUCATION':0,'MEDICAL':1, 'VENTURE':2, 'PERSONAL':3, 'DEBTCONSOLIDATION': 4,
                                        'HOMEIMPROVEMENT': 5 }},inplace=True)

In [38]:
loan_data.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,0,3,71948.0,0,0,35000.0,3,16.02,0.49,3.0,561,0,1
1,21.0,0,0,12282.0,0,2,1000.0,0,11.14,0.08,2.0,504,1,0
2,25.0,0,0,12438.0,3,1,5500.0,1,12.87,0.44,3.0,635,0,1
3,23.0,0,1,79753.0,0,0,35000.0,1,15.23,0.44,2.0,675,0,1
4,24.0,1,3,66135.0,1,0,35000.0,1,14.27,0.53,4.0,586,0,1

In [30]:
# Define features (X) and target (y)
target_column = 'loan_amnt'   # Target variable: loan_amnt or loan_int_rate
feature_column = ['person_age','person_gender','person_education','person_income','person_emp_exp',
'person_home_ownership'	,'loan_intent','loan_int_rate','loan_percent_income','cb_person_cred_hist_length',
'credit_score',	'previous_loan_defaults_on_file']


X = loan_data[feature_column] # feature columns
y = loan_data[target_column]  # target_column
print(X.shape, y.shape)

# Standardize the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
print(X_scaled)

(45000, 12) (45000,)
[[-0.95353824 -1.11006918  1.53365241 ... -0.73910854 -1.41981408
  -1.01603973]
 [-1.11896309 -1.11006918 -1.25965955 ... -0.99686317 -2.5499748
   0.98421348]
 [-0.45726369 -1.11006918 -1.25965955 ... -0.73910854  0.04741211
  -1.01603973]
 ...
 [ 0.8661351   0.90084476  0.60254843 ...  1.06517387  0.70171569
  -1.01603973]
 [ 0.2044357   0.90084476 -0.32855556 ...  0.03415535 -0.5672367
  -1.01603973]
 [-0.62268854  0.90084476 -1.25965955 ... -0.73910854 -0.09137955
  -1.01603973]]

In [46]:
print(X_train.shape, X_test.shape )
print(y_train.shape, y_test.shape)

(36000, 12) (9000, 12)
(36000,) (9000,)

In [22]:
# Step 3: Build the Neural Network model
model = Sequential()

# Input layer + hidden layers
model.add(Dense(128, activation='relu', input_shape=(X_train.shape[1],)))  # Input layer
model.add(Dense(64, activation='relu'))  # Hidden layer 1
model.add(Dense(32, activation='relu'))  # Hidden layer 2

# Output layer
model.add(Dense(1))  # Linear activation for regression tasks

# Compile the model
model.compile(optimizer='adam', loss='mse', metrics=['mae'])  # Loss: Mean Squared Error

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [23]:
# Step 4: Train the model
history = model.fit(X_train, y_train, validation_split=0.2, epochs=50, batch_size=32, verbose=1)

Epoch 1/50
900/900  3s 2ms/step - loss: 83366296.0000 - mae: 6784.9639 - val_loss: 25250352.0000 - val_mae: 3230.3977
Epoch 2/50
900/900  2s 2ms/step - loss: 23088252.0000 - mae: 3200.2510 - val_loss: 22609982.0000 - val_mae: 3110.5496
Epoch 3/50
900/900  3s 3ms/step - loss: 18816426.0000 - mae: 3022.2917 - val_loss: 20443370.0000 - val_mae: 2992.5691
Epoch 4/50
900/900  2s 3ms/step - loss: 19725766.0000 - mae: 2917.0676 - val_loss: 18218068.0000 - val_mae: 2630.3638
Epoch 5/50
900/900  2s 2ms/step - loss: 14970485.0000 - mae: 2499.7749 - val_loss: 14316665.0000 - val_mae: 2191.4998
Epoch 6/50
900/900  2s 2ms/step - loss: 10539435.0000 - mae: 2028.9204 - val_loss: 10762935.0000 - val_mae: 1835.0806
Epoch 7/50
900/900  3s 2ms/step - loss: 8751939.0000 - mae: 1682.4764 - val_loss: 7776841.5000 - val_mae: 1482.5935
Epoch 8/50
900/900  3s 2ms/step - loss: 4817948.5000 - mae: 1354.8674 - val_loss: 6062173.5000 - val_mae: 1297.5239
Epoch 9/50
900/900  4s 3ms/step - loss: 4759487.5000 - mae: 1204.8035 - val_loss: 4684728.0000 - val_mae: 1148.8939
Epoch 10/50
900/900  2s 2ms/step - loss: 4944043.0000 - mae: 1111.1370 - val_loss: 3829024.5000 - val_mae: 985.6311
Epoch 11/50
900/900  2s 2ms/step - loss: 4103460.0000 - mae: 941.9400 - val_loss: 2995297.0000 - val_mae: 826.0600
Epoch 12/50
900/900  4s 4ms/step - loss: 2043384.6250 - mae: 775.5853 - val_loss: 2371756.7500 - val_mae: 768.5563
Epoch 13/50
900/900  4s 3ms/step - loss: 1660872.0000 - mae: 707.6463 - val_loss: 1895697.3750 - val_mae: 699.9623
Epoch 14/50
900/900  2s 2ms/step - loss: 1988802.5000 - mae: 663.3469 - val_loss: 1577813.5000 - val_mae: 649.3336
Epoch 15/50
900/900  2s 2ms/step - loss: 1326969.7500 - mae: 586.5157 - val_loss: 1217267.7500 - val_mae: 563.5010
Epoch 16/50
900/900  2s 2ms/step - loss: 1008453.0625 - mae: 537.3043 - val_loss: 917650.5000 - val_mae: 504.0302
Epoch 17/50
900/900  2s 2ms/step - loss: 838992.8125 - mae: 502.1659 - val_loss: 746287.3750 - val_mae: 469.7477
Epoch 18/50
900/900  2s 2ms/step - loss: 796694.5000 - mae: 478.5282 - val_loss: 623139.7500 - val_mae: 437.2488
Epoch 19/50
900/900  4s 4ms/step - loss: 679718.3125 - mae: 451.5995 - val_loss: 573378.1875 - val_mae: 453.1609
Epoch 20/50
900/900  4s 3ms/step - loss: 587077.0000 - mae: 439.2937 - val_loss: 591622.0000 - val_mae: 484.3724
Epoch 21/50
900/900  3s 3ms/step - loss: 546359.9375 - mae: 425.2666 - val_loss: 449995.7812 - val_mae: 404.7169
Epoch 22/50
900/900  2s 2ms/step - loss: 454137.1562 - mae: 399.1802 - val_loss: 377589.2500 - val_mae: 372.9983
Epoch 23/50
900/900  2s 2ms/step - loss: 400861.5312 - mae: 379.2188 - val_loss: 442481.0000 - val_mae: 435.0061
Epoch 24/50
900/900  5s 5ms/step - loss: 452152.5312 - mae: 383.5638 - val_loss: 383533.4375 - val_mae: 392.3412
Epoch 25/50
900/900  3s 2ms/step - loss: 375398.8438 - mae: 373.8780 - val_loss: 389081.3750 - val_mae: 339.8848
Epoch 26/50
900/900  2s 2ms/step - loss: 325628.8750 - mae: 348.6342 - val_loss: 308049.4375 - val_mae: 334.3280
Epoch 27/50
900/900  2s 2ms/step - loss: 351283.6250 - mae: 353.4160 - val_loss: 298535.5000 - val_mae: 325.1613
Epoch 28/50
900/900  3s 2ms/step - loss: 293840.0312 - mae: 328.7142 - val_loss: 253531.1406 - val_mae: 317.1711
Epoch 29/50
900/900  2s 2ms/step - loss: 300737.7812 - mae: 328.9022 - val_loss: 246013.3125 - val_mae: 315.6709
Epoch 30/50
900/900  3s 3ms/step - loss: 300693.4688 - mae: 327.0472 - val_loss: 246548.1094 - val_mae: 324.5937
Epoch 31/50
900/900  4s 2ms/step - loss: 244427.5625 - mae: 312.5272 - val_loss: 245312.1562 - val_mae: 315.1543
Epoch 32/50
900/900  2s 2ms/step - loss: 240833.9531 - mae: 315.2090 - val_loss: 232853.2500 - val_mae: 304.6724
Epoch 33/50
900/900  3s 2ms/step - loss: 239684.5938 - mae: 310.2661 - val_loss: 233546.5625 - val_mae: 303.0597
Epoch 34/50
900/900  2s 2ms/step - loss: 241194.5000 - mae: 309.0660 - val_loss: 259119.4531 - val_mae: 325.5599
Epoch 35/50
900/900  3s 3ms/step - loss: 226004.4375 - mae: 302.1978 - val_loss: 260655.9531 - val_mae: 331.8108
Epoch 36/50
900/900  4s 2ms/step - loss: 218298.9844 - mae: 303.1432 - val_loss: 196518.9688 - val_mae: 277.6485
Epoch 37/50
900/900  2s 2ms/step - loss: 233170.8906 - mae: 298.4938 - val_loss: 195005.8906 - val_mae: 281.4356
Epoch 38/50
900/900  3s 2ms/step - loss: 207902.8125 - mae: 293.0850 - val_loss: 210342.8438 - val_mae: 291.4517
Epoch 39/50
900/900  3s 3ms/step - loss: 175155.2656 - mae: 287.6565 - val_loss: 323417.7500 - val_mae: 350.5322
Epoch 40/50
900/900  2s 3ms/step - loss: 207889.7188 - mae: 302.8201 - val_loss: 187659.1406 - val_mae: 269.0761
Epoch 41/50
900/900  2s 2ms/step - loss: 204013.4062 - mae: 293.1570 - val_loss: 230906.2969 - val_mae: 312.1472
Epoch 42/50
900/900  3s 3ms/step - loss: 186540.9375 - mae: 286.3910 - val_loss: 214267.4688 - val_mae: 304.6547
Epoch 43/50
900/900  2s 2ms/step - loss: 186204.2031 - mae: 289.1972 - val_loss: 215865.2344 - val_mae: 275.7350
Epoch 44/50
900/900  3s 2ms/step - loss: 235849.5781 - mae: 287.3458 - val_loss: 188684.9531 - val_mae: 275.3020
Epoch 45/50
900/900  3s 3ms/step - loss: 196084.6875 - mae: 285.3913 - val_loss: 190467.8750 - val_mae: 279.9565
Epoch 46/50
900/900  4s 2ms/step - loss: 160525.1719 - mae: 275.2201 - val_loss: 216023.1875 - val_mae: 277.4334
Epoch 47/50
900/900  2s 2ms/step - loss: 165290.0000 - mae: 277.7404 - val_loss: 246403.6875 - val_mae: 311.0741
Epoch 48/50
900/900  3s 2ms/step - loss: 181621.4844 - mae: 279.6874 - val_loss: 214083.7344 - val_mae: 305.1726
Epoch 49/50
900/900  3s 2ms/step - loss: 173236.8281 - mae: 278.8637 - val_loss: 256133.3438 - val_mae: 321.6414
Epoch 50/50
900/900  3s 3ms/step - loss: 183445.5938 - mae: 280.3931 - val_loss: 238664.1562 - val_mae: 325.7006

In [24]:
# Step 5: Evaluate the model
y_pred = model.predict(X_test)

# Calculate performance metrics
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

print("Neural Network Performance:")
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared (R): {r2}")

282/282  0s 1ms/step
Neural Network Performance:
Mean Absolute Error (MAE): 322.2998709988064
Root Mean Squared Error (RMSE): 476.36198436722873
R-squared (R): 0.9943623633528262

In [25]:
# Evaluate on Training Data
train_loss, train_mae = model.evaluate(X_train, y_train, verbose=0)
print(f"Training Loss (MSE): {train_loss}")
print(f"Training MAE: {train_mae}")

# Evaluate on Testing Data
test_loss, test_mae = model.evaluate(X_test, y_test, verbose=0)
print(f"Testing Loss (MSE): {test_loss}")
print(f"Testing MAE: {test_mae}")

Training Loss (MSE): 213223.46875
Training MAE: 316.32421875
Testing Loss (MSE): 226920.75
Testing MAE: 322.29986572265625

In [26]:
print(feature_column)

['person_age', 'person_gender', 'person_education', 'person_income', 'person_emp_exp', 'person_home_ownership', 'loan_intent', 'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length', 'credit_score', 'previous_loan_defaults_on_file']

In [27]:
# Example input features
input_data = {
    'person_age': 35,
    'person_gender': 1,  # 1 for Male
    'person_education': 1,  # 1 for Bachelor
    'person_income': 50000,
    'person_emp_exp': 10,
    'person_home_ownership': 0,  # 0 for RENT
    'loan_intent': 3,  # 3 for PERSONAL
    'loan_int_rate': 12.5,
    'loan_percent_income': 0.2,
    'cb_person_cred_hist_length': 4,
    'credit_score': 750,
    'previous_loan_defaults_on_file': 0,  # 0 for No
}

In [36]:
import numpy as np

# Convert input data to a format compatible with the model
input_features = np.array([[35, 1, 1, 50000, 10, 0, 3, 12.5, 0.2, 4, 750, 0]])

# Standardize the input features (using the same scaler used during training)
input_features_scaled = scaler.transform(input_features)

# Predict loan amount using the trained neural network model
predicted_loan_amount = model.predict(input_features_scaled)

print(f"Predicted Loan Amount: {predicted_loan_amount[0][0]:.2f}")

1/1  0s 43ms/step
Predicted Loan Amount: 9702.79

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [39]:
()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,0,3,71948.0,0,0,35000.0,3,16.02,0.49,3.0,561,0,1
1,21.0,0,0,12282.0,0,2,1000.0,0,11.14,0.08,2.0,504,1,0
2,25.0,0,0,12438.0,3,1,5500.0,1,12.87,0.44,3.0,635,0,1
3,23.0,0,1,79753.0,0,0,35000.0,1,15.23,0.44,2.0,675,0,1
4,24.0,1,3,66135.0,1,0,35000.0,1,14.27,0.53,4.0,586,0,1

In [40]:
feature_column

['person_age',
 'person_gender',
 'person_education',
 'person_income',
 'person_emp_exp',
 'person_home_ownership',
 'loan_intent',
 'loan_int_rate',
 'loan_percent_income',
 'cb_person_cred_hist_length',
 'credit_score',
 'previous_loan_defaults_on_file']

In [42]:
import numpy as np

# Convert input data to a format compatible with the model
input_features = np.array([[22, 0, 3, 71948.0, 0, 0, 3, 16.02, 0.49, 3.0, 561, 0]])

# Standardize the input features (using the same scaler used during training)
input_features_scaled = scaler.transform(input_features)

# Predict loan amount using the trained neural network model
predicted_loan_amount = model.predict(input_features_scaled)

print(f"Predicted Loan Amount: {predicted_loan_amount[0][0]:.2f}")

1/1  0s 42ms/step
Predicted Loan Amount: 31868.57

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [43]:
# Compare predicted vs actual


results = pd.DataFrame({
    'Actual': y_test.values.flatten(), # Use .values to access the NumPy array
    'Predicted': y_pred.flatten()
})

print(results.head(5))
print(results.tail(5))

    Actual     Predicted
0   7500.0   7702.019043
1   9000.0   8880.768555
2   5000.0   4281.913574
3   5000.0   5261.187012
4  10000.0  10113.776367
       Actual     Predicted
8995  14000.0  14453.375977
8996   6725.0   6554.520508
8997  14000.0  13727.569336
8998   8000.0   7937.621582
8999   8500.0   8040.936523